.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 100px 100px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #edb6e6;
    color: #fff;
    padding: 20px;
    font-size: 150%;

}

.a {
    background-color: rgb(38, 49, 49);
}